{{ $data := index site.Data site.Language.Lang}}
{{ $data := index site.Data.home  site.Language.Lang }}

{{ $ := index site.Data.header site.Language.Lang }}
{{ $glossary := index site.Data.glossary site.Language.Lang }}

<section class="section sec1" id="home">
<!--JS路徑-->
<script src="/js/splide/dist/js/splide.min.js"></script>

<!--選擇要使用的CSS主題-->
<link rel="stylesheet" href="/js/splide/dist/css/themes/splide-skyblue.min.css">

<!--建立Splide。data-splide設定參數為播放到最後就退回第一張，並每次顯示一張圖片。-->
<div class="splide" role="group" aria-label="Splide" data-splide='{"type":"loop","perPage":1,"autoplay":"true"}'>
  <div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide"><img src=https://files.vntranslog.com/vntranslog_slider1.webp></li>
			<li class="splide__slide"><img src=https://files.vntranslog.com/vntranslog_slider2.webp></li>
			<li class="splide__slide"><img src=https://files.vntranslog.com/vntranslog_slider3.webp></li>
		</ul>
  </div>
</div>

<script>
  new Splide( '.splide' ).mount();
</script>
</section>
